server/.env
server/node_modules
server/out
server/dist
server/*.tgz
server/coverage
server/*.lcov
server/logs
server/*.log
server/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
server/.env
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/.env.local
server/.eslintcache
server/.cache
server/*.tsbuildinfo
server/.idea
server/bun.lock
server/sessions.db
.DS_Store
